{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add"

   {% unless product.variants.first.inventory == 0 %}
    class="color-button"
   {% endunless %}


   id="AddToCart" value="Purchase" onclick="addItem({{product.variants.first.id}}, 1); return false;" >
{% if product.variants.first.inventory_quantity < 5  %}
  Low stock

{% else %}
  Add to cart
{% endif %}
</button>


  <!-- <script>
    const addToCart = document.querySelector("#AddToCart");
      if (addToCart) {
      console.log("found");
      addToCart.addEventListener("click", (event) => {
        event.preventDefault();
        console.log("test");

    });
    }
  </script> -->
<!--
<input type="submit" name="add" value="Purchase" class="btn btn--purchase" onclick="addItem('add-to-cart'); return false; ">
 -->
</form>
<div>{{ product.description }}</div>
<!--
{{ product.variants.first.inventory_quantity}}
{{ product.id}}
 -->
<h4 id ="random-title">
{{ settings.coding_test }}
</h4>

<button id="myBtn" hidden>Open Modal</button>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Current stock : {{ product.variants.first.inventory_quantity}}</p>
    <p>Items in cart: {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</p>
    <p> {{ cart.items}}<p>
  </div>
</div>


<script>
const l = document.querySelector("#random-title")
console.log(l.innerText);

const modal = document.getElementById("myModal");
const btn = document.getElementById("myBtn");
const span = document.getElementsByClassName("close")[0];

window.onload = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


